html {
    font-size: 16px;
    height: auto;
}
 

body {
    margin: 0;

}
header {
    background-color: #161714;
    bottom: 25px;
    position: relative;

}   
    header .nav-fisher {
        display: inline;
    }
    header .nav-fisher .container-list-fisher {
        position: relative;
        top: 20px;
    }
    header .nav-fisher .container-list-fisher li{
         display: inline;
         left: 1450px;
         padding-left: 10px;
         position: relative;
    }
    header .nav-fisher .container-list-fisher li a {
        color: white;
        text-decoration: none;
        font-family: 'Abel', sans-serif;
    }


    header .logo-fisher {
        display: inline;
        height: 200px;
        left: 40px;
        position:relative;
        top: 5px;
        width: 210px;
    }
    header .title-first {
        position: relative;
        bottom: 10px;
        font-family: 'Kenia', sans-serif;
        font-size: 1.3rem;
    }
    header .title-first h1 {
        color: white;
        display:inline ;
        left: 30px;
        position: relative;
    }

main {
    display: inline;
}

    main .container-main-section-fisher .container-main-div-fisher {
        display: inline;
    }
    main .container-main-section-fisher .container-main-div-fisher div {
        display: inline;
        
        
    }
    main .container-main-section-fisher .container-main-div-fisher div img {
        position: relative;
        width: 300px;
        height: 280px;
        left: 100px;
    }
    main .container-main-section-fisher p {
        display: inline;
        position: relative;
        right :120px;
        font-size: 1.2rem;
        font-family: 'Abel', sans-serif;
    }
    main .shirt-yellow-front-fisher p {
        position: relative;
        bottom: 25px;
    }
    main .shirt-yellow-back-fisher p {
        position: relative;
        bottom: 25px;
    }
    main .shirt-white-front-fisher p {
        position: relative;
        bottom: 25px;
    }
    main .shirt-brown-back-fisher p {
        position: relative;
        bottom: 25px;
    }


footer {
    background-color: #161714;
    width: 100%;
    height: 100px;
}    
    footer h3 {
        color: white;
        display: inline;
        position: relative;
        top: 30px;
        left: 20px;
        font-size: 1.5rem;
        font-family: 'Abel', sans-serif;
    }

    footer .icon-whatsapp-fisher {
        display: inline;
        font-size: 30px;
        position: relative;
        left: 1500px;
        top: 30px;
    }
    footer .icon-facebook-fisher {
        display: inline;
        font-size: 28px;
        position: relative;
        left: 1550px;
        top: 30px;

    }
    footer .icon-instagram-fisher {
        display: inline;
        font-size: 30px;
        position: relative;
        left: 1600px;
        top: 30px;
    }